/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log 
/.fleet
/.idea
/.vscode
.vite
.claude
/.claude
storage
.antigravitycli
.editorconfig
.gitattributes
.gitignore
artisan
composer.json
composer.lock
env
.env
.env.example
.env.local
.env.testing
.env.production
.env.staging
.env.backup
.env.dusk.local
.env.dusk.testing
.env.dusk.production
.env.dusk.staging
.env.dusk.backup
.env.phpunit
.env.phpunit.local
.env.phpunit.testing
.env.phpunit.production
.env.phpunit.staging
.env.phpunit.backup
/.antigravitycli
/.editorconfig
/.gitattributes
/.gitignore
/.idea
/.vscode
/.fleet
